.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    transition: width 0.3s ease-in-out;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.collapsedBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    padding-left: 30px;
}

.item {
    display: flex;
    gap: 16px;
    align-items: center;
    width: fit-content;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    transform: translateX(0);
    height: var(--line-height-m);
    text-wrap: nowrap;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;
        transform: translateX(-70%);
    }

    .switchers {
        flex-direction: column;
        gap: 10px;
    }
}
