.app.light {
    --bg-color: #dfdfe3;
    --inverted-bg-color: #030380;
    --primary-color: #041c8e;
    --secondary-color: #016eda;
    --inverted-primary-color: #03da03;
    --inverted-secondary-color: #019701;
}
